body {
    background-color: rgb(26, 28,29);
    font-family: monospace;
    text-align: center;
}
h1 {
    color:rgb(200, 195, 189) ;
}
#main_h1 {
    color:rgb(200, 195, 189) ;
    font-size:50px;
    transform: translateY(100px);
}
#main_p {
    transform: translateY(100px);
}
p {
    color:rgb(132, 125, 115);
    font-size: large;
}
div {
    width: 50%;
    height: 30%;
    background-color: rgb(24, 26, 27);
    transform: translate(50%, 100px);
    border-color: rgb(53, 58, 60);
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
}
div h1 {
    text-align: left;
    transform: translate(230px, 40px);
}
div p {
    text-align: left;
    transform: translate(230px, 40px);
}
